<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Cabeca do avatar">
          <match url="^notifications/fig/(.*).png" ignoreCase="false" />
          <action type="Rewrite" url="notifications/user.php?fig={R:1}" appendQueryString="false" />
        </rule>
		<rule name="Navegador">
          <match url="^rocket-navigator/(.*).png" ignoreCase="false" />
          <action type="Rewrite" url="../camera/thumbnails/{R:1}.png" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>